
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Lato', sans-serif;
	background:#ffffff;
	margin:0px!important;
}
p{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Dosis', sans-serif;
   margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body p{
		font-family: 'Lato', sans-serif;
}
body a:hover{
	text-decoration:none;
	    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
input[type="submit"],.w3l_header_left ul li a,.related-post-right h4 a,.comments-grid-right h4 a,.reply a,.w3_single_grid_left_grid ul li a,ul.contact_info li a,.w3ls_projects_bottom_grid_grid_pos,.footer-copy p a,.w3l_projects_grid h4 a,.agileinfo_footer_grid ul li a,.wthree_service_breadcrumb_left ul li a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
/*--/pop--*/
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
}
.modal-body {
    padding: 2em 2em;
}
.modal-header {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}
.login-bottom h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
    margin-bottom: 0.6em;
}
.login-bottom input[type="text"],.login-bottom input[type="email"],.login-bottom input[type="tel"],.login-bottom input[type="password"] {
    font-size: 1em;
    color: #555;
    padding:0.6em 1em;
    border: 0;
    width: 100%;
    border: none;
        border: 1px solid #b5b5b5;
    background: none;
    -webkit-appearance: none;
    outline: none;
    margin-bottom:2%;
}

.login-bottom input[type="submit"] {
    background: #ef4d4a;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    margin-top: 12px;
    color: #fff;
    font-weight: bold;
}
.login-bottom input[type="submit"]:hover {
    background: #333;
}
.login-bottom label.checkbox {
    float: left;
    margin: 0;
}
.signup a {
    color: #ef4d4a;
}
.checkbox {
    position: relative;
    padding-left: 22px !important;
    cursor: pointer;
    line-height: initial;
    font-size: 1em;
    color: #353F49;
    font-weight: 500;
    margin: 0 0 1.5em;
}
.checkbox input + i:after {
    content: '';
    background: url("../images/tick.png") no-repeat 4px 3px;
    top: -1px;
    left: -1px;
    width: 17px;
    height: 17px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
/*--//pop--*/
/*-- header --*/
/*-- Slider --*/
#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0,0,0,.25);
	box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}
.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}
.rslides_tabs li:first-child {
	margin-left: 0;
}
.rslides_tabs .rslides_here a {
	background: rgba(255,255,255,.1);
	color: #fff;
	font-weight: bold;
}
.events {
	list-style: none;
}
.callbacks_container {
	position: relative;
	float: left;
	width: 100%;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}
.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 48%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height:34px;
    width:34px;
    background: url("../images/left.png") no-repeat 0px 0px;
}
.callbacks_nav.prev {
	 left: auto;
	   background: url("../images/left.png") no-repeat 0px 0px;
	left: -58px;
}
.callbacks_nav.next {
    left: auto;
    background: url("../images/right.png") no-repeat 0px 0px;
       right: -15px;
}
.callbacks_nav:active {
	opacity: 1.0;
}

.callbacks2_nav:active {
	opacity: 1.0;
}

#slider-pager a {
	display: inline-block;
}

#slider-pager span {
	float: left;
}
#slider-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}
#slider-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}
#slider-pager a {
	padding: 0;
}
#slider-pager li {
	display: inline-block;
}
/*--header-right--*/
/*-- social-icons --*/
ul.top-links li {
    margin:6px 0;
    display: block;
}
 ul.top-links {
       float: right!important;
    margin-top: 0;
    position: absolute;
    z-index: 999;
    right: 1px;
    top: 37%;
}

ul.top-links li a i.fa {
    color: #fff;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 34px;
    height: 34px;
      background: rgba(4, 6, 8, 0.55);
}
ul.top-links li a i.fa:hover {
   color: #ef4d4a;
}
.tag {
    position: absolute;
    z-index: 999;
    right: 4%;
    top: 3%;
}
.tag a {
    color: #fff;
    font-size: 1.1em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.tag.one {
    right: 11%;
}
.tag span {
    margin-right: 7px;
}
ul.top-links.two {
    float: right!important;
    margin-top: 0;
    position: absolute;
    z-index: 999;
    right: 1px;
    top: 19%;
}
/*-- //social-icons --*/
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	left: 0%;
	top: 0;
	width: 100%;
}
.rslides li {
	position: relative;
	display: block;
	float: none;
}
.rslides img {
	height: auto;
	border: 0;
}
.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 80.5%;
	z-index: 999;
	left: 44.5%;
	padding: 0em 0.6em 1em 0.3em;
	margin: 0;
}
.callbacks_tabs li {
	display: inline-block;
	margin: 0.5em;
}
.callbacks_tabs a {
	visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
    width:18px;
	height:18px;
	display: inline-block;
	border:6px solid rgba(0, 0, 0, 0.91);
	background: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.callbacks_here a:after {
	background: #ef4d4a;
}
.slider-info {
    position: absolute;
    top: 0;
    z-index: 999;
    left:0px;
    width: 100%;
    height: 100%;
        padding-top: 179px;
	text-align:center;
}
.slider-info img {
	width: 100px;
	margin: 0 auto;
}
.slider-info h3.logo{
	
}
.slider-info h3.logo a,.banner-info-agile h1.logo a  {
    font-size: 45px;
    color: #FFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 2px 0px 10px;
       font-family: 'Ewert', cursive;
}
.banner-info-agile {
    text-align: center;
    padding-top: 11em;
}
.slider-info h3.logo span,.banner-info-agile h1.logo a span {
	color:#ef4d4a;
}
.search {
    margin: 0 auto;
    width: 33%;
	position:relative;
}
.search input[type="search"] {
   font-style: italic;
    padding: 11px 60px 13px 16px;
    border: 1px solid #3a3939;
    width: 100%;
    text-align: left;
   color: #8c8888;
    background-color: #191818;
    outline: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.search input[type="submit"] {
   width: 46px;
    height: 32px;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-color:#ef4d4a;
    top: 7px;
    right: 7px;
    padding: 0em;
    border: none;
    outline: none;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.slider-info h4 {
    font-size: 4em;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 1.2em 0 0.5em 0;
    font-weight: 200;
}
h6 {
	margin:0 auto;
	z-index:999;
}
h6 a{
	cursor:pointer;
	font-size:15px;
	text-transform:uppercase;
}
.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 72%;
    left: 45%;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: block;
    text-align: center;
}
.slider-top span{
font-weight:600;
}
.callbacks_tabs li{
       display: inline-block;
  margin: 0 5px;
}

/*-- //Slider --*/
/*-- sidebar --*/
#sidebar {
    background: rgba(19, 18, 18, 0.79);
    width: 200px;
    height:550px;
    display: block;
    position: absolute;
    left: -200px;
    top: 0;
    transition: left 0.3s linear;
    z-index: 999;
}
h4.menu {
    text-align: center;
    padding: 1em 1em;
    color: #fff;
    text-transform:uppercase;
    font-weight:bold;
       background: #ef4d4a;
}
#sidebar.visible {
  left: 0;
  transition: left 0.3s linear;
}

#sidebar-btn {
      display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 0;
    right: -73px;
}

#sidebar-btn span {
  height:3px;
    background: #ef4d4a;
  margin-bottom: 5px;
  display: block;
}
#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar ul li { list-style: none;
 }
#sidebar ul li a:hover{
	background:#000;
		transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
#sidebar ul li a {
    color: #fff;
    display: block;
        padding: 14px 10px;
    text-decoration: none;
    text-align: center;
		transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	font-size: 0.95em;
	border-bottom: 1px ridge rgb(25, 24, 24);
}
#sidebar li ul {
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 200px;
    z-index: 200;
}
#sidebar li:hover ul {
    display: block;
	background:#333;
	
}
#sidebar li ul li a{
    padding:12px 10px;
    font-size:0.85em;
    transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -o-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
    border-bottom:1px ridge #292828;
    color: #a4a6a7;
}
#sidebar li ul li a:hover,#sidebar li ul li a:active{
    background: #1d1c1c;
    color: #ef4d4a;
}
#sidebar i {
    margin-left: 2em;
    font-size: 0.7em;
       color: #ef4d4a;
}
/*-- about --*/
.agile-w3l-ab {
      background: #fff;
    padding: 2em;
    border: 10px solid #363632;
    position: relative;
    width: 63%;
}

#about {
    padding: 5em 0;
}

.ab-agile-bottom p {
    color: #fff;
    font-size: 1em;
    line-height: 37px;
    text-align: left;
    letter-spacing: 1px;
    margin: 1em 0;
}
.sign-up {
    float: left;
    text-transform: uppercase;
}
.ab-agile-top {
    position: absolute;
    top: 22%;
    left: 55%;
    padding: 3em 2em;
    background: #ef4d4a;
	    z-index: 999;
}
.about-w3l-agileifo-grid {
    position: relative;
}
.ab-agile-top h1{
    font-size: 2.5em;
    color: #fff;
    font-weight: 400;
}
/*-- //about --*/
/*-- services --*/
.secvice-section{
	padding:5em 0;
}
.services-section {
    padding: 5em 0;
    background: #f1f0f0;
}
.service-grids {
    margin-top: 3em;
}
.agile-w3l-serve {
    background: #fff;
    padding: 2em;
    border: 10px solid #363632;
    position: relative;
}
.icon-one {
    float: left;
	width:30%;
}
.abt-icon {
    float: right;
    width: 67%;
    text-align: left;
}
.abt-icon h4 {
    font-size:1.8em;
    color: #333;
    font-weight: 400;
	text-transform:uppercase;
}
.abt-icon p{
	color: #555;
    font-size: 1em;
    line-height:30px;
    letter-spacing: 1px;
    margin: 1em 0;
}
.secvice-grids{
	margin-top:55px;
}
.hi-icon-effect-4 .hi-icon.icon1 {
    width: 65px;
    height: 65px;
    box-shadow: 0 0 0 4px rgb(247, 247, 247);
    background: url(../images/icon1.png) no-repeat center;
    background-size: 60% !important;
}
.hi-icon-effect-4 .hi-icon.icon2 {
    width: 65px;
    height: 65px;
    box-shadow: 0 0 0 4px rgb(247, 247, 247);
    background: url(../images/icon2.png) no-repeat center;
    background-size: 60% !important;
}
.hi-icon-effect-4 .hi-icon.icon3 {
    width: 65px;
    height: 65px;
    box-shadow: 0 0 0 4px rgb(247, 247, 247);
    background: url(../images/icon3.png) no-repeat center;
    background-size: 60% !important;
}
.hi-icon-wrap {
    padding: 0;
}
.hi-icon {
    margin: 0px;
}
.diff-grid h4{
    font-size: 25px;
    margin: 20px 0 19px;
    color: #98CD23;
}
.diff-grid p {
    color: #464646;
    font-size: 15px;
    line-height: 2.2em;
}
.bor-bot {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.bor-top {
    padding-top: 15px;
}
/*-- portfolio--*/
.portfolio {
    padding:5em 0 0 0;
}
.typo.w3l-agileits {
    padding: 4em 0;
}
.port-head {
    text-align: center;
    margin-bottom: 1.5em;
}
figure {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}

figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
	top: -100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	    text-align: center;
}

figcaption h3 {
      font-weight: 400;
    font-size: 1.8em;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 0;
    background: #111;
    position: relative;
    left: 100%;
    margin-top: 5.5em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}

figcaption p {
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
        font-size: 0.85em;
    line-height: 2em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
}

figure:hover h3,figure:hover p {
    left: 0;
}

figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    text-decoration: none;
}

figcaption a:hover {
    color: #4f5856;
    background: #fff;
}
.gallery {
    padding: 6em 0;
}
.ga-top{
	margin-bottom:3em;
}
/*-- //Portfolio --*/
/*-- client --*/
.client-agile-info {
    background: #ef4d4a;
    padding: 5em 0;
}
.agileits-clients {
    padding-top: 3em;
}
h3.tittle.two,h2.tittle.two {
    color: #fff;
	text-align: center;
}
.client_agile_info {
    border-bottom: 5px solid #ce3432;
    float: left;
    width: 47%;
    margin: 0 2% 0 0%;
    background: #f77e7b;
    padding: 2em;
}
.client_agile_info img {
    width:9%;
	border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
}
.c-img i{
	 color:#fff;
	font-size: 2em;
	 margin-right:0.5em;
}
.agileits-clients h4 {
    color: #fff;
    text-transform: uppercase;
	font-size:1.2em;
}
.agileits-clients p {
       color: #520202;
    line-height: 1.9em;
	font-size:0.95em;
	margin:1em 0;
}
/*-- //client --*/
/*-- projects --*/
.projects{
	padding:5em 0 0 0;
    background: #f9f9fb;
}
.projects-info{
	text-align:center;
}
.projects-info p{
    color: #999999;
    font-size: .9em;
    margin: 1em auto 0;
    width: 40%;
}
.projects-grids {
  margin: 3em 0 0 0;
}
#owl-demo .item{
    text-align: center;
}
.projects-agile-grid-info{
    position: relative;
    overflow: hidden;	
}
.projects-agile-grid-info img{
	width:100%;
}
i.fa.fa-cutlery {
    color: #FFFFFF;
    font-size: 2em;
}
.projects-grid-caption h4{
      color: #FFFFFF;
    font-size: 2em;
    font-weight: 400;
    margin: 5.5em 0 0.5em 0;
    text-transform: uppercase;
    background: #000;
    padding: 10px;
}
.projects-grid-caption p{
      color: #fff;
    font-size: 1em;
    margin: 0;
}
.projects-grid-caption {
    background: rgba(0, 0, 0, 0.61);
    padding: 8em 1em 1em 1em;
    position: absolute;
    left: 0;
    bottom: -121%;
    text-align: center;
    width: 100%;
    height:650px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	border: 1px solid #999;
}
.projects-agile-grid-info:hover .projects-grid-caption{
    bottom: 0%;
}
/*-- //projects --*/
/*-- contact --*/
.contact-main-agile-info {
    padding: 5em 0 0 0;
}
.contact-grid1.agileits-w3layouts i {
    float: left;
    width: 12%;
}
.con-w3l-info {
    float: right;
    width: 84%;
}
.contact-top-agileits {
    float: left;
    width: 66%;
    margin-top: 3em;
}
.contact-grid {
     padding: 2em 2em;
	    background: #333;
		float: left;
		width: 32%;
		margin-right: 1%;
	}
.con-w3l-info h4 {
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}
.con-w3l-info p{
    font-size: 0.9em;
    line-height: 1.9em;
    color: #fff;
}
.con-w3l-info a {
    font-size: 0.97em;
    line-height: 1.9em;
    color: #fff;
}
.contact-grid i {
    color: #fff;
    font-size: 1.3em;
}
.con-w3l-info a:hover {
    color: #fff;
}
p.con {
    font-size: 0.9em;
    color: #555;
    line-height: 1.9em;
    margin-top: 1em;
}
h3.tittle,h2.tittle {
       font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0.5em;
    color: #333;
}
p.sub {
	text-transform:uppercase;
	color:#555;font-weight:100;
	font-size:1.3em;
}
h2.tittle {
    color: #fff;
    margin: 1em 0 0 0;
}
/*-- map --*/
.map.agileits {
	position: relative;
	min-height:520px;
}
.map.agileits iframe {
	width: 100%;
	min-height:520px;
	border: none;
	position: absolute;
}
.location-mark {
    position: absolute;
    z-index: 999;
    left: 50%;
    top:20%;
}
.location-mark i {
    font-size: 4em;
    color: #333;
}
.map-grid-left{
	background:#FFF;
	padding:0;
	float: left;
	position:relative;
}
.map-grids {
    width: 100%;
    background: #f7f7f7;
    padding: 4em 2em;
	    border: 1px solid #ddd;
}
.map-grids input[type="text"],.map-grids input[type="email"],.map-grids textarea {
    font-size: 1em;
    color: #555;
    padding: 1em 1em;
    border: 0;
    width: 100%;
    border: none;
      border: 2px solid #333;
    background: none;
    -webkit-appearance: none;
    outline: none;
    margin-bottom:1%;
}
.map-grids p {
       font-size: 1.1em;
    margin: 5px 0 9px 0;
    color: #ef4d4a;
}
.map-grids textarea {
   resize: none;
    height:120px;
    padding: 0em 0 0em 0;
}
.map-grids input[type="submit"] {
        background: #ef4d4a;
    padding: 0.8em 2em;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    margin-top: 12px;
    color: #fff;
    font-weight: bold;
}
.map-grids input[type="submit"]:hover{
	 background:#333;
}
.map-grids h2 {
    color: #333;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons li .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}
.icons a {
    color: #999;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
/*-- map-bottom --*/
.header.two {
    background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	min-height:400px;
}
/*-- Footer --*/
.w3l-footer {
    background-color: #212121;
    padding: 2em 0;
}
.w3l-footer  h4 {
	color: #fff;
    padding: 24px 0 10px 0;
	font-weight: 600;
	font-size:1.4em;
	margin-bottom: 0.8em;
}
.footer-info-agile li {
    color: #EEE;
    display: block;
    line-height: 1.9em;
}
.links a {
	color: #EEE;
}
.links a:hover {
	color: #FFF;
	text-decoration: underline;
}
a.mail {
	color: #EEE;
}
a.mail:hover {
    color: #f53753;
}
/*-- Newsletter --*/
.footer-info-agile p {
	    color: #EEE;
    line-height: 2em;
    margin-bottom: 27px;
    text-align: left;
}
.newsletter {
	position: relative;
}
.newsletter input[type="email"] {
    font-style: italic;
    padding: 11px 60px 13px 16px;
    border: 1px solid #3a3939;
    width: 100%;
    text-align: left;
    color: #fff;
    background-color: #191818;
    outline: none;

}
.newsletter  input[type="submit"] {
	width: 46px;
    height: 32px;
    background-image: url('../images/email.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-color: #f53753;
    top: 7px;
    right:7px;
    padding: 0em;
    border: none;
    outline: none;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.footer-grid-instagram a {
    float: left;
}
/*-- //Newsletter --*/
/*-- Footer-Social-Icons --*/
.connect-agileits{
    padding-bottom: 22px;
    text-align: center;
    border: 1px solid #515254;
    margin-top: 3em;
}
.connect-agileits h4 {
	text-align: center;
}
.connect-social ul li {
	display: inline-block;
}

.connect-social ul li a{
	    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
/*-- social-icons --*/
.social_icons {
    text-align: center;
}
.social{
    position: relative;
    margin: 10px auto 32px;
}
.social a{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    text-align: center;
       margin-right: 14px;
}
.social .fb{
    background: #6788ce;
}
.social .fb:before,
.social .fb:after{
    border-color:#6788ce;
}
.social .tw{
    background: #00ACEE;
}
.social .tw:before,
.social .tw:after{
    border-color: #00ACEE;
}

.social .gp{
    background: #DD4B39;
}
.social .gp:before,
.social .gp:after
{
    border-color: #DD4B39;
}

.social .db{
    background: #f85993;
}
.social .db:before,
.social .db:after
{
    border-color: #f85993;
}

.social a:before,
.social a:after{
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 50%;
    transition: .3s all;
       border: 3px solid;
}
.social a:hover:after{
   -webkit-transform: scale(1.5);
}
.social a:hover:before{
    -webkit-transform: scale(2);
    transition: .3s all;
    opacity: 0;
}
a.icon.gp {
    margin: 0;
} 
.connect-social ul li a i {
    color: #fff;
    line-height: 39px;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.footer-info-grid {
    border-right: 1px solid #333;
}
/*-- Footer-Social-Icons --*/
/*-- Copyright --*/
.copyright-wthree {
    text-align: center;
    padding: 20px 0 20px 0;
    background: #171616;
    margin-top: 2em;
}
.copyright-wthree p {
	color: #FFF;
}
.copyright-wthree a {
	    color: #f53753;
	text-decoration: none;
}
.copyright-wthree a:hover {
	color: #fff;
	text-decoration: underline;
}
/*-- //Copyright --*/
/*-- //Footer --*/
/*-- //Banner-Slider --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 40px;
    height: 22px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*-- /responsive --*/
@media (max-width:1440px){
	.projects-grid-caption {
	    padding: 11em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -124%;
	}
	.abt-icon h4 {
		font-size: 1.5em;
	}
	.slider-info h4 {
       font-size: 3.6em;
	}
	#about,.services-section,.client-agile-info {
		padding: 4em 0;
	}
	.portfolio,.projects,.contact-main-agile-info{
		    padding:4em 0 0 0;
	}

}
@media (max-width:1366px){
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		top: 75%;
		left: 45%;
	}
	figcaption h3 {
		font-size: 1.8em;
		text-transform: uppercase;
		padding: 10px 20px;
		position: relative;
		left: 100%;
		margin-top: 4.5em;
	}
	.projects-grid-caption {
	    bottom: -129%;
	}
	.tag.one {
		right: 14%;
	}
	.search {
		margin: 0 auto;
		width:38%;
		position: relative;
	}
}
@media (max-width:1280px){
	.slider-info h4 {
		font-size: 3.2em;
	}
	h3.logo a {
		font-size: 42px;
		color: #FFF;
		letter-spacing: 3px;
	}
	p.sub-para {
      font-size: 0.9em;
	}
	.projects-grid-caption {
		bottom: -138%;
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		top: 75%;
		left: 43%;
	}

}
@media (max-width:1080px){
	.slider-info h4 {
      margin:0.5em 0 0.5em 0;
	  font-size:3em;
	}
	.slider-info {
		padding-top: 158px;
		text-align: center;
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		top: 78%;
		left: 42%;
	}
	.search {
		margin: 0 auto;
		width: 47%;
		position: relative;
	}
	ul.top-links {
		top: 24%;
	}
	.ab-agile-top {
		position: absolute;
		top: 14%;
		left: 55%;
		padding: 3em 2em;
	}
	figcaption h3 {
		font-size: 1.4em;
		padding: 10px 20px;
		left: 100%;
		margin-top: 4.5em;
	}
	.tag.one {
		right: 15%;
	}
	.callbacks_nav.next {
		left: auto;
		background: url("../images/right.png") no-repeat 0px 0px;
		right: 10px;
	}
	.contact-top-agileits {
		float: left;
		width: 72%;
		margin-top: 1.5em;
	}
	.projects-grid-caption {
		bottom: -174%;
	}
	.projects-grid-caption h4 {
		font-size: 1.6em;
		margin: 7.5em 0 0.5em 0;
	}
	.callbacks_nav.prev {
		left: auto;
		background: url("../images/left.png") no-repeat 0px 0px;
		left: -28px;
	}
}
@media (max-width:991px){
	.agile-w3l-ab {
		background: #fff;
		padding: 2em;
		border: 10px solid #363632;
		position: relative;
		width: 75%;
	}
	.ab-agile-top {
		position: absolute;
		top: 18%;
		left: 34%;
		padding: 2em 2em;
	}
	.service-text {
		margin-top: 2em;
	}
	.callbacks_nav.next {
		left: auto;
		background: url("../images/right.png") no-repeat 0px 0px;
		right: -21px;
	}
	.projects-grid-caption {
		bottom: -178%;
	}
	.projects-grid-caption h4 {
		font-size: 1.4em;
		margin: 10.5em 0 0.5em 0;
		padding: 10px;
	}
	.contact-grid {
		padding: 1em 1em;
		background: #333;
		float: left;
		width: 32%;
		margin-right: 1%;
	}
	.contact-top-agileits {
		float: left;
		width: 89%;
		margin-top: 1em;
	}
	.map-grids p {
      font-size: 1em;
	}
	.map-grids {
		padding: 3em 2em;
	}
	.footer-info-grid {
         border-right: none;
	     border-bottom:1px solid #333;
	}
	.map.agileits {
		min-height: 450px;
	}
	.map.agileits iframe {
       min-height: 450px;
	}
	.map-grids input[type="text"], .map-grids textarea {
		font-size: 0.9em;
		padding: 0.7em 1em;
	}
	.footer-info-grid.links ul {
		padding-bottom: 24px;
	}
	.callbacks_nav.prev {
		left: auto;
		background: url("../images/left.png") no-repeat 0px 0px;
		left: -13px;
	}
	.header.two {
		min-height: 319px;
	}
	.box1 {
		display: inline-block;
		width: 32%;
	}
	.banner-info-agile {
		padding-top: 8em;
	}
}
@media (max-width:800px){
	.tag.one {
		right: 19%;
	}
	.w3agile-codes {
		padding:3em 0;
	}
	
   .agileits-clients h4 {
		text-transform: uppercase;
		font-size: 1em;
	}
	
	.client_agile_info {
		float: left;
		width: 47%;
		margin: 0 2% 0 0%;
		padding: 1.5em;
	}
	.slider-info h4 {
		margin: 0.5em 0 0.5em 0;
		font-size: 2.3em;
	}
	h3.logo a {
		font-size: 38px;
		color: #FFF;
		letter-spacing: 2px;
	}
	p.sub-para {
		font-size: 0.9em;
		letter-spacing: 5px;
	}
	.slider-info {
		padding-top: 110px;
		text-align: center;
	}
	figcaption h3 {
		font-size: 1.2em;
		padding: 10px 20px;
		left: 100%;
		margin-top: 4.3em;
	}
	ul.top-links {
		top: 13%;
	}
	.map.agileits {
		min-height: 350px;
	}
	.map.agileits iframe {
		min-height: 350px;
	}
	.callbacks_nav.next {
		left: auto;
		background: url("../images/right.png") no-repeat 0px 0px;
		right: 13px;
	}
	
	.client_agile_info img {
		width: 15%;
	}
	.typo.w3l-agileits {
		padding: 3em 0;
	}
}
@media (max-width:768px){
	ul.top-links {
		top: 13%;
	}
	ul.top-links.two {
		top: 11%;
	}
	p.sub-para {
		font-size: 0.9em;
		letter-spacing: 3px;
	}
	.callbacks_tabs li {
		display: inline-block;
		margin: 0 2px;
	}
	.search input[type="search"] {
		font-style: italic;
		padding: 8px 60px 13px 16px;
		border: 1px solid #3a3939;
		width: 100%;
	}
	.search input[type="submit"] {
		width: 46px;
		height: 32px;
		top: 6px;
		right: 7px;
	}
	.banner-info-agile {
		padding-top: 8em;
	}
	.callbacks_nav.next {
		left: auto;
		background: url("../images/right.png") no-repeat 0px 0px;
		right: 12px;
	}
	.projects-grid-caption h4 {
		font-size: 1.4em;
		margin: 7.5em 0 0.5em 0;
		padding: 10px;
	}
	.footer-info-grid {
		padding: 0;
	}
	.newsletter {
		position: relative;
		padding: 0;
	}
	figcaption h3 {
		font-size: 1.2em;
		padding: 10px 20px;
		left: 100%;
		margin-top: 6em;
	}
	h3.tittle,h2.tittle {
      font-size: 2.3em;
	}
}
@media (max-width:736px){
	.slider-info h4 {
		margin: 0.5em 0 0.5em 0;
		font-size: 1.8em;
	}
	.search {
		margin: 0 auto;
		width: 54%;
		position: relative;
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		top: 78%;
		left: 40%;
	}
	h3.logo a {
		font-size: 33px;
		color: #FFF;
		letter-spacing: 1px;
	}
	.tag.one {
		right: 22%;
	}
    .w3l-footer	 {
		padding: 1em 0 2em 0;
	}
	.ab-agile-top h1{
		font-size: 2em;
	}
	.ab-agile-bottom p {
		color: #fff;
		font-size: 1em;
		line-height: 36px;
		text-align: left;
		letter-spacing: 1px;
		margin: 0.3em 0;
	}
	.agile-w3l-serve,.agile-w3l-ab {
      padding: 1em;
	}
	.login-bottom h3 {
      font-size: 1.4em;
	}
	.modal-body {
		padding: 1em 1em;
	}
}
@media (max-width:667px){
	.slider-info {
		padding-top: 87px;
		text-align: center;
	}
	.contact-top-agileits {
		float: left;
		width: 100%;
		margin-top: 1em;
	}
	.footer-info-agile li {
		line-height: 1.9em;
		font-size: 0.9em;
	}
	.ab-agile-bottom p {
		font-size: 0.9em;
		line-height: 30px;
		text-align: left;
		margin: 0.3em 0;
	}
	figcaption h3 {
		font-size: 1.2em;
		padding: 10px 20px;
		left: 100%;
		margin-top: 5em;
	}
	.box1 {
		display: inline-block;
		width: 48%;
	}
	.header.two {
		min-height: 240px;
	}
	.agile-w3l-head {
		padding-top: 7em;
	}
	h2.tittle {
		color: #fff;
		margin: 0.5em 0 0 0;
	}
	.banner-info-agile {
		padding-top: 6em;
	}	
	
}
@media (max-width:568px){

    .new-items {
        width: 48% !important;
        float: left;
    }
    .new_middle {
        margin: 0 0% 0 3%;
    }
    .item-info2 {
        margin-bottom: 1em;
    }
    .item-info5 {
        margin-top: 2em;
    }
    .new_last {
        width: 100%;
    }
    .item3 {
        width: 48%;
        float: left;
    }
    .item1 {
        padding: 25px 26px 27px;
    }
    .item6 {
        margin-top: 1em;
        float: left;
        width: 49%;
        margin-left: 3%;
    }
    .item2 {
        margin-bottom: 1em;
    }
    .item4 {
        margin: 1em 0;
    }

	.search input[type="search"] {
		font-style: italic;
		padding: 8px 60px 13px 16px;
		border: 1px solid #3a3939;
		width: 100%;
		font-size: 0.9em;
	}
	#about {
		padding: 4em 0 9em 0;
	}
	.ab-agile-top {
		position: absolute;
		top: 42%;
		left: 34%;
		padding: 1em 1em;
	}
	.ab-agile-top h1{
		font-size: 1.8em;
	}
	figcaption h3 {
		font-size: 1.2em;
		padding: 10px 20px;
		left: 100%;
		margin-top: 3.5em;
	}
	h3.tittle,h2.tittle {
		font-size: 2em;
	}
	.services-section, .client-agile-info {
		padding: 3em 0;
	}
	.client_agile_info {
		float: left;
		width: 100%;
		margin: 0 0% 5% 0%;
		padding: 1.5em;
	}
	.callbacks_nav {
       top: 98%;
	}
	.callbacks_nav.prev {
		left: auto;
		background: url("../images/left.png") no-repeat 0px 0px;
		left: 7px;
	}
	.contact-grid {
		width: 100%;
		margin-right: 0%;
		margin-bottom: 1%;
	}
	.map-grids {
		padding: 2em 1em;
	}
	.map.agileits {
		min-height: 250px;
	}
	.map.agileits iframe {
		min-height:250px;
	}
	.abt-icon h4 {
		font-size: 1.4em;
	}
	ul.top-links li {
      margin: 2px 0;
	}
	.w3agile-codes {
		padding: 2em 0;
	}
	h3.head-top {
		font-size: 1.4em;
		margin: 0.5em 0;
	}
	.tag.one {
		right: 29%;
	}
	.agile-w3l-serve, .agile-w3l-ab {
		padding: 0.5em;
		border: 5px solid #363632;
	}
	.portfolio, .projects, .contact-main-agile-info {
		padding:3em 0 0 0;
	}
	.copyright-wthree {
		margin-top: 1em;
	}
	.w3l-footer h4 {
		padding: 24px 0 0px 0;
		font-size: 1.3em;
		margin-bottom: 0.5em;
	}
	.slider-info h3.logo a,.banner-info-agile h1.logo a  {
       font-size: 30px;
	}
	.slider-info h4 {
		margin: 0.5em 0 0.5em 0;
		font-size: 1.4em;
	}
	.search {
		margin: 0 auto;
		width: 60%;
		position: relative;
	}
	.slider-info {
		padding-top: 66px;
		text-align: center;
	}
	.bs-glyphicons li {
		float: left;
		width: 48%;
	}
	.typo.w3l-agileits {
		padding: 2em 0;
	}
}
@media (max-width:480px){
    .new_middle {
        margin: 0 0% 0 0%;
    }
    .new-items ,.item3,.item6{
        width: 100% !important;
    }
    .item3,.item6{
        margin-top:1em;
    }
    .item6{
        margin-left:0;
    }
	.search input[type="search"] {
		font-style: italic;
		padding: 8px 60px 13px 16px;
		border: 1px solid #3a3939;
		width: 100%;
		font-size: 0.9em;
	}
	#about {
		padding: 4em 0 9em 0;
	}
	.ab-agile-top {
		position: absolute;
		top: 42%;
		left: 34%;
		padding: 1em 1em;
	}
	.ab-agile-top h1{
		font-size: 1.8em;
	}
	figcaption h3 {
		font-size: 1.2em;
		padding: 10px 20px;
		left: 100%;
		margin-top: 3.5em;
	}
	h3.tittle,h2.tittle {
		font-size: 2em;
	}
	.services-section, .client-agile-info {
		padding: 3em 0;
	}
	.client_agile_info {
		float: left;
		width: 100%;
		margin: 0 0% 5% 0%;
		padding: 1.5em;
	}
	.callbacks_nav {
       top: 98%;
	}
	.callbacks_nav.prev {
		left: auto;
		background: url("../images/left.png") no-repeat 0px 0px;
		left: 7px;
	}
	.contact-grid {
		width: 100%;
		margin-right: 0%;
		margin-bottom: 1%;
	}
	.map-grids {
		padding: 2em 1em;
	}
	.map.agileits {
		min-height: 250px;
	}
	.map.agileits iframe {
		min-height:250px;
	}
	.abt-icon h4 {
		font-size: 1.4em;
	}
	ul.top-links li {
      margin: 2px 0;
	}
	.w3agile-codes {
		padding: 2em 0;
	}
	h3.head-top {
		font-size: 1.4em;
		margin: 0.5em 0;
	}
	.tag.one {
		right: 29%;
	}
	.agile-w3l-serve, .agile-w3l-ab {
		padding: 0.5em;
		border: 5px solid #363632;
	}
	.portfolio, .projects, .contact-main-agile-info {
		padding:3em 0 0 0;
	}
	.copyright-wthree {
		margin-top: 1em;
	}
	.w3l-footer h4 {
		padding: 24px 0 0px 0;
		font-size: 1.3em;
		margin-bottom: 0.5em;
	}
	.slider-info h3.logo a,.banner-info-agile h1.logo a  {
       font-size: 30px;
	}
}
@media (max-width:414px){

	.agile-w3l-ab {
		background: #fff;
		padding: 0.5em;
        border: 4px solid #363632;
		position: relative;
		width: 100%;
	}
	.ab-agile-top {
		position: absolute;
		top: 55%;
		left: 9%;
		padding: 1em 1em;
		width: 82%;
	}
	.service-icons {
		padding: 0;
	}
	.service-grids {
		margin-top: 1em;
	}
	.service-text {
		margin-top: 1em;
	}
	.ab-agile-top h1{
       font-size:1.8em;
	}

	figcaption h3 {
		font-size: 1.2em;
		padding: 10px 20px;
		left: 100%;
		margin-top: 6em;
	}
	.contact-top-agileits {
		float: left;
		width: 100%;
		    margin-top: 0.5em;
	}
	#about {
		padding: 3em 0 9em 0;
	}
	h3.tittle,h2.tittle {
		font-size:1.6em;
	}
	.services-section, .client-agile-info {
		padding: 2em 0;
	}
	.slider-info h4 {
		margin: 0.3em 0 0.5em 0;
		font-size: 1.4em;
	}
	h3.logo a {
		font-size: 21px;
		letter-spacing:0px;
	}
	.tag a {
      font-size: 0.9em;
	}
	p.sub-para {
		font-size: 0.8em;
		letter-spacing: 2px;
		margin:5px 0 5px 0;
	}
	.tag span {
		font-size: 0.9em;
	}
	#sidebar-btn {
		width: 35px;
		height: 32px;
		    margin: 12px 10px;
		position: absolute;
		top: 0;
		right: -99px;
		padding: 5px;
	}
	.tag.one {
		right: 29%;
	}
	.slider-info {
		    padding-top: 81px;
		text-align: center;
	}
	.search input[type="search"] {
		padding: 6px 60px 8px 16px;
		width: 100%;
		font-size: 0.8em;
	}
	.search input[type="submit"] {
		width: 39px;
		height: 22px;
		top: 6px;
		right: 7px;
		background-size: 42%;
	}
	.callbacks_tabs li {
		display: inline-block;
		margin: 0 0px;
	}
	.callbacks_tabs a:after {
		width: 12px;
		height: 12px;
		display: inline-block;
		border: 4px solid rgba(0, 0, 0, 0.91);
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		top: 80%;
		left: 37%;
	}
	ul.top-links li a i.fa {
		font-size: 12px;
		line-height: 31px;
		width: 28px;
		height: 28px;
	}
	ul.top-links {
		top: 8%;
	}
	#sidebar {
		width: 157px;
		height: 401px;
	}
	#sidebar li ul {
		width: 157px;
		z-index: 200;
	}
	.portfolio, .projects, .contact-main-agile-info {
		padding: 2em 0 0 0;
	}
	.port-head {
		margin-bottom: 0.8em;
	}
	.client_agile_info {
		float: left;
		width: 100%;
		margin: 0 0% 5% 0%;
		padding: 1em;
	}
	.map-grids textarea {
		resize: none;
		height: 90px;
	}
	.map-grids input[type="submit"] {
      padding: 0.6em 2em;
	}
	.map-grids input[type="text"], .map-grids textarea {
		font-size: 0.9em;
		padding: 0.6em 0.8em;
	}
	.slider-img img {
		min-height: 250px;
	}
	.search {
		margin: 0 auto;
		width: 70%;
		position: relative;
	}
	.slider-info h3.logo a,.banner-info-agile h1.logo a  {
      font-size: 34px;
	}
	.typo.w3l-agileits {
		padding: 0em 0 2em 0;
	}
}
@media (max-width:384px){
	ul.top-links {
		top: 14%;
	}
	.slider-info h4 {
		margin: 0.3em 0 0.5em 0;
		font-size: 1.2em;
	}
	.tag.one {
		right: 34%;
	}
	.abt-icon p {
		font-size: 0.9em;
		line-height: 30px;
		letter-spacing: 1px;
		margin: 0.5em 0;
	}
	.header.two {
		min-height: 197px;
	}
	ul.top-links.second {
		top: 10%;
	}
	.agile-w3l-head {
		padding-top: 5.5em;
	}
	.fontawesome-icon-list a i {
		margin-right: 4px;
		font-size: 15px;
	}
	.slider-info h3.logo a,.banner-info-agile h1.logo a  {
		font-size: 29px;
	}
}
@media (max-width:375px){
	figcaption h3 {
		font-size: 1.2em;
		padding: 10px 20px;
		left: 100%;
		margin-top: 4.5em;
	}
	.abt-icon h4 {
		font-size: 1.3em;
	}
	.ab-agile-top h1{
		font-size: 1.4em;
	}
	h3.tittle,h2.tittle {
      font-size: 1.4em;
	}
	.map-grids h2 {
		font-size: 1.4em;
	}
	.slider-info h3.logo a,.banner-info-agile h1.logo a  {
		font-size: 25px;
	}
	.icon-one {
		float: left;
		width: 100%;
	}
	.abt-icon {
		float: right;
		width: 100%;
		text-align: center;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
		padding: 4px 6px;
		font-size: 0.7em;
		letter-spacing: 0px;
		margin-bottom: 1em;
		margin: 0 0 1em 0;
	}
	.banner-info-agile {
		padding-top: 5em;
	}
}
@media (max-width:320px){
    .new_middle {
        margin: 0 0% 0 0%;
    }
    .new-items ,.item3,.item6{
        width: 100%;
    }
    .item3,.item6{
        margin-top:1em;
    }
    .item6{
        margin-left:0;
    }
	.slider-info h4 {
		margin: 0.6em 0 0.5em 0;
		font-size: 0.9em;
	}
	.slider-info {
		padding-top: 86px;
	}
	.tag.one {
		right: 37%;
	}
	#about {
		 padding: 2em 0 13em 0;
    }
	.abt-icon h4 {
		font-size: 1.2em;
	}
	h3.tittle,h2.tittle {
		font-size: 1.4em;
	}
	.ab-agile-bottom p {
       font-size: 0.9em;
	}
	p.sub-para {
		font-size: 0.8em;
		letter-spacing: 2px;
		margin: 5px 0 11px 0;
	}
	.slider-info h3.logo a,.banner-info-agile h1.logo a  {
		font-size: 22px;
	}
}
/*-- //responsive --*/



.new{
    margin:3em 0;

}
.new-products{
    border-bottom: 1px solid #eee;
    padding-bottom: 3em;
}
.new h3,.top-sellers h3{
    text-align:center;
    text-transform:uppercase;
    font-size:1.5em;
    margin-bottom:2em;
    font-family: 'Aladin', cursive;
    letter-spacing:2px;
    color: #026466;
}
.new-items{
    width:32%;
    float:left;
}
.new_middle{
    margin:0 2%;
}
.new-items img{
    width:100%;
}
.item1{
    padding:48px 26px 27px;
    margin-right:1%;
    background:#eceaea;
}
.item-info{
    margin-top:4em;
}
.item-info3{
    margin-top:5em;
    padding-left:2em;
}
.item-info span,.item-info2 span,.item-info3 span,.item-info4 span,.item-info5 span,.item-info6 span{
    color:#000;
    font-size:0.7em;
    margin:7px 0;
    display:block;
}
.item-info h4 a,.item-info2 h4 a,.item-info3 h4 a,.item-info4 h4 a,.item-info5 h4 a,.item-info6 h4 a{
    font-size:1em;
    background:none;
    color:#5A5A5A;
    padding:0;
}
.item-info h4 a:hover,.item-info2 h4 a:hover,.item-info3 h4 a:hover,.item-info4 h4 a:hover,.item-info5 h4 a:hover,.item-info6 h4 a:hover{
    color:#026466;
    background:none;
}
.item-info a,.item-info2 a,.item-info3 a,.item-info4 a,.item-info5 a,.item-info6 a{
    font-size:0.8em;
    display:inline-block;
    background:#026466;
    padding:0.6em 2em;
    color:#fff;
    text-decoration:none;
    font-weight:500;
}
.item-info a:hover,.item-info2 a:hover,.item-info3 a:hover,.item-info4 a:hover,.item-info5 a:hover,.item-info6 a:hover{
    background:#cfdc00;
}
.item2{
    padding:26px 26px 18px;
    background:#eceaea;
    margin-bottom:2em;
}
.item3{
    padding:0px 0px 26px;
    background:#eceaea;
}
.item4{
    background:rgba(193, 189, 160, 0.61);
    margin-top:2em;
}
.item5,.item6{
    background:#eceaea;
}
.item6{
    margin-top:2em;
    padding:26px 26px 13px 26px;
}
.item-info4{
    margin-top:3em;
    padding:0 0 26px 36px;
}
.item-info5{
    margin-top:4.4em;
    padding:0 0 26px 36px;
}
.item-info6{
    margin-bottom:1em;
}


.a1{     border:none !important;
    padding: 4px 0px !important;
    text-decoration: none;}

.a11 a{    color: #fff;
    border: none !important;
    padding: 4px 0px !important;
    text-decoration: none; }