

#ninja-slider {
    width:100%;

    /*min-width:375px;
    background:#191919;*/
    padding: 30px 0;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider .slider-inner {
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
}

#ninja-slider ul {
    /*background-color:black;*/
    position:relative;
    list-style:none;
    padding:0;
}

#ninja-slider li {    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    transform-style: preserve-3d; /*prevent blurry of its children*/
}

#ninja-slider li.ns-show {
    opacity:1;
}


/*---------- Slide Content -------------------*/
#ninja-slider div.content {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding:0 14%;
    text-align:center;
    color:#FFF;
    font-size:1.2em;
    line-height:1.2;
    position: relative;
    top: 10%;
    box-sizing:border-box;
}

#ninja-slider div.content h3 {
    color:#E56606;
    margin-top:0;
    margin-bottom:30px;
    font-size:3.3em;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
}
#ninja-slider div.content img {
    float:right;
    width:30%;
    margin:0 0 20px 20px;
}

/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}    

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-51px;/*pager's height should also be counted*/
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.4s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}
.slider-inner:hover #ninja-slider-prev.disabled, .slider-inner:hover #ninja-slider-next.disabled {
    opacity:0.1;
}


#ninja-slider-prev {
    left: 0px; /*set it with a positive value if .slider-inner does not have max-width setting.*/
}
#ninja-slider-next {
    right: 0px;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 5px solid white;
    border-top: 5px solid white;
    backface-visibility:hidden;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    left:14px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    right:14px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev:hover, #ninja-slider-next:hover {width:80px;background-color:rgba(0,0,0,0.8);}
#ninja-slider-prev div {margin-right:8px;white-space:nowrap;opacity:0;float:right;}
#ninja-slider-next div {margin-left:8px;white-space:nowrap;opacity:0;float:left;}
#ninja-slider-prev:hover div, #ninja-slider-next:hover div {opacity:1;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider-pager { display:none;}

#ninja-slider {
    width:100%;
    height: 300px;
}
@media only screen and (max-width:1000px){
#ninja-slider li {
    width:100%;
    height:auto;
}
}
/*Responsive settings*/
@media only screen and (max-width:700px){

    #ninja-slider div.content {
        font-size:1em;
    }
    
    #ninja-slider div.content h3 {
        font-size:2em;
    }

    #ninja-slider div.content img {
        display:none;
    }
    #ninja-slider-prev, #ninja-slider-next {
        display:none;
    }
    #ninja-slider div.content {

        padding:0;

    }
    .user-testimonial p {
        font-size: 12px;
        font-weight: 500;
        color: #666;
        max-width: 909px;
        margin: 0 auto;
        line-height: 19px;
    }

}

